dm-tree html,
body {
    font-family: 'Open Sans';
    height: 100%;
}


/*.test{height:100%;}
.test-row{height:100%;}
.demo-container{
    overflow: auto;
    height: 80%;
    border:1px #ccc solid;
}*/

dm-tree .treeContainer {
    overflow-y: auto;
    min-height: 200px;
    height: 100%;
}

dm-tree .treeContainer.hoverly {
    background-color: white;
}

dm-tree .Node {
    /*    margin-left: 1.5em;    */
    margin-left: 1.4em;
    zoom: 1;
    line-height: 2em;
    border-top: 1px solid #ccc;
    cursor: pointer;
}


/*.Node .ExpandOpen .Content {
    margin-bottom: 8px;
}*/

dm-tree .hoverly {
    background-color: rgba(206, 216, 206, 0.31);
}

dm-tree .Expand {
    line-height: 2em;
    float: left;
    /*margin-top: 5px;*/
}

dm-tree .Expand::before {
    cursor: pointer;
    font-family: 'FontAwesome';
    margin-right: .3em;
    color: #EAB140;
    font-size: 1.2em;
}

dm-tree .Content {
    padding-left: 4px;
/*    margin-left: 46px;;*/
  padding-left: 5px;
    /*margin-left: 43px;*/
    min-height: 18px;
    font-size: 16px;
    /*height: 2em;*/
}

dm-tree .Container {
    padding: 0;
    margin: 0;
    min-height: 10px;
    /*border: 1px dotted;*/
}

dm-tree .Container li {
    list-style-type: none;
}


/*

 открытое поддерево 
dm-tree .ExpandOpen .Expand::before { 
    content: "";
    
}

dm-tree .ExpandClosed .Expand::before { 
    content: "";
}*/

dm-tree .ExpandOpen .Container {
     transition: all linear 2s;
    display: block;

}

dm-tree .ExpandClosed .Container li {
     transition: all linear 2s;
    display: none;
    
}

dm-tree .ExpandClosed .Container li.placeholder_test {
    display: block;
}

dm-tree .ExpandOpen .Expand,
.ExpandClosed .Expand {
    cursor: pointer;
}


/*Листовой узел*/

dm-tree .isLeaf .Expand::before {
    color: rgba(115, 182, 193, 0.51);
}
/*Узел свойств*/
dm-tree li.isProp .Expand::before {
       color: #adbbbe;
}

dm-tree input[type='checkbox'].customCheckBox {
    display: none;
}

dm-tree.customCheckBoxOn input[type='checkbox'].customCheckBox {
    margin-right: 10px;
    display: inline;
    float: left;
    margin-top: 7px;
}

/*
dm-tree.customCheckBoxOn input[type='checkbox'].customCheckBox.childCheck:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 10px;
    position: relative;
    left: 3px;
    bottom: 5.9px;
    background-color: rgba(26, 0, 0, 0.72);
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
*/

dm-tree .ExpandLoading {
    width: 18px;
    height: 18px;
    float: left;
    margin-top: 0.4em;
    background-image: url(/img/loading.gif);
    background-size: 18px;
    padding-top: 5px;
}

dm-tree div.empty {
    height: 8px;
    display: block;
}


/*

/*Стили для контекстного меню*/

.aspect-tree-context {
    position: absolute;
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0px 0px 8px #ddd;
    display: none;
}

.aspect-tree-context.aspect-tree-context__open {
    display: block;
}

.aspect-tree-context .aspect-tree-context-item {
    line-height: 3em;
    cursor: pointer;
    padding: 0 1em 0 1em;
}

.aspect-tree-context .aspect-tree-context-item:hover {
    background-color: #f4f4f4;
}

.aspect-tree-context .aspect-tree-context-item .aspect-tree-context-icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    text-align: center;
    border-radius: 2em;
    background-color: #eee;
    line-height: 2em;
}

.aspect-tree-context .aspect-tree-context-divider {
    border-top: 1px solid #eee;
}


/*Placeholder ui-sortable*/

dm-tree .placeholder_test {
    float: right;
    display: block;
    /*border: 1px solid green;*/
    height: 1px;
    width: 100%;
    background: green;
}

dm-tree .placeholder_test::before {
    float: left;
    font-family: 'FontAwesome';
    float: left;
    content: "\f04b";
    color: green;
    margin-top: -1.179em;
    padding-top: .2em;
}


/*Выделенный node*/


/*Вариант 1********************************************/

dm-tree li.ExpandClosed.checkedNode {
    /*background-color: rgba(101, 204, 87, 0.19);*/
    background-color: rgba(166, 174, 165, 0.23);
}


/*dm-tree li.ExpandOpen div.empty{
    display: none;
}
dm-tree li.ExpandOpen.isLeaf div.empty{
    display: block;
}*/

dm-tree li.ExpandOpen.isLeaf div.empty.checkedNode {
    /*background-color: rgba(101, 204, 87, 0.19);*/
    background-color: rgba(166, 174, 165, 0.23);
}

dm-tree li.ExpandOpen.checkedNode div.Content.checkedNode {
    /*background-color: rgba(101, 204, 87, 0.19);*/
    background-color: rgba(166, 174, 165, 0.23);
}

dm-tree li.ExpandOpen.checkedNode div.Expand.checkedNode {
    /*background-color: rgba(101, 204, 87, 0.19);*/
    background-color: rgba(166, 174, 165, 0.23);
}


/******************************************************/


/*вариант 2 ******************************/


/*dm-tree li.checkedNode::before  {
    font-family: 'FontAwesome';
    float:left;
    content:"\f04b";
    margin-right: 5px;

    color:green;
}
dm-tree li.checkedNode div.Content.checkedNode{
color: #159235;
}*/


/****************************************************/

dm-tree .customCheckBoxOn .checkedBox {
    background-color: rgba(101, 204, 87, 0.3);
}

dm-tree .treeContainer li:first-child {
    /*border-top:none;*/
}

dm-tree .treeContainer {
    border-top: none;
    margin-left: 0.4em;
    zoom: 1;
    line-height: 2em;
    cursor: pointer;
}


/*Рамка на ноде куда вставляем*/


/*dm-tree li.placeHover{
    border: 1px solid green;
    border-radius: 5px;
    background-color: rgba(85, 184, 100, 0.16);
}*/

dm-tree li.placeHover .Container li.placeholder_test {
    /*visibility:hidden;*/
}


/*Кнопки редактирования узла*/


/*
dm-tree .nodeEditButtons{
    float:right;
    display: none;
}
dm-tree li.checkedNode .Content.checkedNode .nodeEditButtons {
   display: block;
    
}

dm-tree .nodeEditButtons .fa-edit:before, .fa-pencil-square-o:before {
    content: "\f044";
    margin-right: 6px;
    color: #2196F3;
}
dm-tree .nodeEditButtons .fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d";
    margin-right: 10px;
    color: #880E0E;
}
Увеличиваем иконки при наведении
dm-tree i.fa.fa-pencil-square-o.editBtn:hover {
    font-size: 18px;
}
dm-tree i.fa.fa-times.removeBtn:hover {
    font-size: 18px;
}
*/
dm-tree .nodeEditButtons{
    float:right;
        margin-left: 15px;
    display: none;
}
dm-tree li .nodeEditButtons.checkedNode {
   /*display: block;*/
    
}

dm-tree .nodeEditButtons .fa-edit:before, .fa-pencil-square-o:before {
    content: "\f044";
    margin-right: 6px;
    color: #2196F3;
}
dm-tree .nodeEditButtons .fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d";
    margin-right: 10px;
    color: #880E0E;
}
/*Увеличиваем иконки при наведении*/
dm-tree i.fa.fa-pencil-square-o.editBtn:hover {
    font-size: 16px !important;
}
dm-tree i.fa.fa-times.removeBtn:hover {
    font-size: 16px !important;
}

.treeIcons {
    cursor: pointer;
    font-family: 'FontAwesome';
    margin-right: .3em;
    color: #EAB140;
    font-size: 1.2em;
    float: left;
    margin-top: 7px;
}

dm-tree #overlay {
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 999;
    display: none;
}


/*Уменьшать высоту узлов, скрывая не нужные для DragAndDrop элементы*/

/*dm-tree.ui-sortable-disabled ul.Container {
    min-height: 0px;
}

dm-tree.ui-sortable-disabled div.empty {
    display: none;
}*/

dm-tree.slimTree ul.Container {
    min-height: 0px;
}

dm-tree.slimTree div.empty {
    display: none;
}
/*Пробный вариант с чеками*/

dm-tree.customCheckBoxOn input.customCheckBox.childCheck:not(:checked):before {
    
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 10px;
    position: relative;
    left: 3px;
    bottom: 5.9px;
/*    background-color: rgba(26, 0, 0, 0.72);*/
        background-color: rgba(190, 188, 188, 0.72);
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
   
}

/*dm-tree[infocus=true]{
  
    border: 1px dotted green;
}*/
dm-tree[disabled=disabled] .nodeEditButtons{
    display: none!important;
  
}
