.tree-drop-zone{
	    background-color: rgba(198, 198, 198, 0.43);
    margin: 5px;
    margin-bottom:20px;
        /*float: right;*/
    border: 2px dashed #bbb;
}
.tree-drop-zone.over{
	border: 2px dashed #554C4D;
}

.tree-drop-zone p{
    text-align: center;
    padding-top: 21px;
    color: #4a4444;
}