<!DOCTYPE html>
<html ng-app="app" >

<head>
    <title>Тест дерева</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/treeDropZone.css" rel="stylesheet" type="text/css" />


    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/libs/angular.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>

  
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/ngIncludeTree.js" type="text/javascript"></script>
    <script src="js/treeDropZone.js" type="text/javascript"></script>
    <script src="js/dmTree.js" type="text/javascript"></script>
   
</head>
<body>
<div ng-controller="appCtrl">
<h4>Текущий объект:</h4> <h4>{{currenObj['ru_text']}} id {{currenObj['id'] }}</h4><br>
<button type='button' class='btn' ng-click="changeTree()" style="margin-bottom:20px">Изменить</button>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-6">

                            <dm-tree
                              data="flatTree"
                              id-field = "id"
                              parent-id-field = "parentId"
                              content-field = "content"
                              has-children-field = 'children'
                              close-icon ='closeIcon'
                              open-icon = 'openIcon'
                              rest-func = 'restFunc(obj)'
                              current-obj ="currenObj"



                            ></dm-tree>
                                

                                <!-- <ng-include-tree   class ="treeContainer"
                                                   
                                                   height="settings.height"
                                                   sortable = "settings.sortable"
                                                   display ="settings.display"
                                                   custom-icons="settings.customIcons"
                                                   custom-check-box="settings.customCheckBox"
                                                   number-of-nodes="numberOfNodes"
                                                   refresh-nodes="refreshNodes"
                                                   open-first-level="settings.openFirstLevel"
                                                   open-icon="openIcon"
                                                   close-icon="closeIcon"
                                                   loaded-node="tree"
                                                   node-name-field="nodeNameField"
                                                   has-children-field="hasChildrenField"
                                                   rest-func="restFunc(node)"
                                                   clear-obj="clearObj()"
                                                   current-node="currentNode"
                                                   node-obj="nodeObj"
                                                   load-init="loadInit"
                                                   is-last-field="isLastField"
                                                   drop-init="dropInit"
                                                   on-drag="onDrag()"
                                                   on-drop="onDrop(obj)"
                                                   on-move="onMove()"
                                                   control-tree="controlTree"
                                                   checked-nodes-array="checkedNodesArray"
                                                   setting = "setting",
                                                   connected-list-dragged="connectedListDragged"
                                                   dragged-list-obj="draggedListObj"
                                        >

                                </ng-include-tree > -->
                            </div>
                            <div class="col-lg-6">
                                <!-- <ng-include-tree   class ="treeContainer"
                                                   
                                                   height="settings.height"
                                                   draggable= "true"
                                                   display ="settings.display"
                                                   custom-icons="settings.customIcons"
                                                   custom-check-box="settings.customCheckBox"
                                                   number-of-nodes="numberOfNodes"
                                                   refresh-nodes="refreshNodes"
                                                   open-first-level="settings.openFirstLevel"
                                                   open-icon="openIcon"
                                                   close-icon="closeIcon"
                                                   loaded-node="list"
                                                   node-name-field="nodeNameField"
                                                   has-children-field="hasChildrenField"
                                                   rest-func="restFunc(node)"
                                                   clear-obj="clearObj()"
                                                   current-node="currentNode"
                                                   node-obj="nodeObj"
                                                   load-init="loadInit"
                                                   is-last-field="isLastField"
                                                   drop-init="dropInit"
                                                   on-drag="onDrag()"
                                                   on-drop="onDrop()"
                                                   on-move="onMove()"
                                                   control-tree="controlTree"
                                                   checked-nodes-array="checkedNodesArray"
                                                   setting = "setting"
                                                   connected-list-dragged="connectedListDragged"
                                                   dragged-list-obj="draggedListObj"

                                        >
                                </ng-include-tree > -->
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>